* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f6f6f6;
   
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    box-sizing: border-box;
    height: 80px;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: white;
}




nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #0e567d;
    color: white;
}